{
  "plugins": ["react-hooks", "jest-dom", "testing-library", "prettier"],
  "extends": ["react-app", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "env": {
        "node": true,
        "commonjs": true,
        "browser": true,
        "jest": true
      },
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": ["plugin:testing-library/react"]
    }
  ],

  "rules": {
    "react/display-name": 0,
    "react/jsx-sort-props": 2,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": 0,
    "no-console": [
      2,
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  }
}
